package com.dsh105.echopet.compat.nms.NMS_VERSION.entity;

import com.dsh105.echopet.compat.nms.NMS_VERSION.entity.EntityAgeablePet;
import com.dsh105.echopet.compat.nms.NMS_VERSION.entity.EntityInsentientPetData;

public class EntityNoClipPetData extends EntityInsentientPetData {

    public EntityNoClipPetData(EntityNoClipPet pet) {
        super(pet);
    }

    @Override
    public EntityAgeablePet getPet() {
        return (EntityAgeablePet) super.getPet();
    }

}
